@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h5>@ViewBag.Number</h5>
    <h5>
        @{
            int squart = (int)ViewBag.Number * (int)ViewBag.Number;
            <h5>Square root of number is @squart</h5>
        }
    </h5>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
